In [22]:
import pandas as pd 
import numpy as np

In [23]:
#choosing majority class
catboost = pd.read_csv("catboost_all_9_models_predictions.csv")
xgboost = pd.read_csv("xgb_submision1.csv")

In [24]:
replace_map2 = {3:"non functional", 
              2:"functional needs repair",
              1:"functional"}
catboost[['Model 1','Model 2','Model 3','Model 4','Model 5','Model 6','Model 7','Model 8','Model 9']] = catboost[['Model 1','Model 2','Model 3','Model 4','Model 5','Model 6','Model 7','Model 8','Model 9']].replace(replace_map2)

In [33]:
submission = catboost.merge(xgboost,left_on='id', right_on='id')

In [26]:
idval = submission['id']
submission = submission.loc[:, submission.columns != 'id']

In [28]:
# #get odd model out
# submission.loc[(submission['knn'] == submission['catboost']) & (submission['xgboost'] == submission['catboost']), 'Odd One Out'] = 'All Equal' 
# submission.loc[(submission['knn'] == submission['catboost']) & (submission['xgboost'] != submission['catboost']), 'Odd One Out'] = 'xgboost' 
# submission.loc[(submission['knn'] != submission['catboost']) & (submission['xgboost'] == submission['catboost']), 'Odd One Out'] = 'knn' 
# submission.loc[(submission['knn'] == submission['xgboost']) & (submission['xgboost'] != submission['catboost']), 'Odd One Out'] = 'catboost'

In [29]:
# print('Odd One Out')
# test = pd.DataFrame(submission['Odd One Out'].value_counts())
# test['% Odd One Out'] = test['Odd One Out']/14850 
# test['% Odd One Out'] = (100. * test['% Odd One Out'] / test['% Odd One Out'].sum()).round(1).astype(str) + '%'
# test

In [30]:
#choose prediction by most offent occuring prediction of the 3 models
submission = submission.mode(axis=1)
submission.columns = ['status_group', 'na']
submission = submission['status_group']

In [31]:
#format submission
submission = pd.concat([idval,submission], axis = 1)
# submission.columns = ['id','status_group']
submission.to_csv("full_submision.csv", index=False)

In [32]:
submission

          id    status_group
0      50785      functional
1      51630      functional
2      17168      functional
3      45559  non functional
4      49871      functional
...      ...             ...
14845  39307  non functional
14846  18990      functional
14847  28749      functional
14848  33492      functional
14849  68707  non functional

[14850 rows x 2 columns]